<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Write From Your Heart & Post Like A Pro Today. </p>
            <hr class="my-4">
            <p>Read content from you favourite bloggers and rate their work from Anywhere, at Anytime.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </div>
</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyeright &copy; <%= link_to "Mashrur Hossain", "https://mashrurhossain.com", class: "text-white"%></small>
    </div>
</footer>
